In [ ]:
import pandas as pd
import datetime as dt
import requests
from io import StringIO

In [ ]:
!pip install -U -q PyDrive 
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials  
auth.authenticate_user() 
gauth = GoogleAuth() 
gauth.credentials = GoogleCredentials.get_application_default() 
drive = GoogleDrive(gauth)

In [ ]:
weather = 'https://drive.google.com/file/d/1370Ge2O7DtSVf0wPtT0ZkELydxXTsqaJ/view?usp=sharing'
# getting the id part of the file
id = weather.split("/")[-2] 
downloaded = drive.CreateFile({'id':id})  
downloaded.GetContentFile('mergedData(3).csv')   
  
df = pd.read_csv('mergedData(3).csv') 
df.head(10)

   Unnamed: 0    EventId           Type  ...       tLat       tLng  events
0      328602  T-2034841     Congestion  ...  41.332432 -74.169113       0
1      110477  W-4332301           Rain  ...   0.000000   0.000000       0
2      328608  T-2034866       Accident  ...  40.856388 -73.872375       0
3       79089  W-3126403           Rain  ...   0.000000   0.000000       0
4      110478  W-4332302           Rain  ...   0.000000   0.000000       0
5       41149  W-1297850           Rain  ...   0.000000   0.000000       0
6      328615  T-2034890     Congestion  ...  40.984344 -73.741318       0
7      328611  T-2034879  Flow-Incident  ...  40.743244 -73.837616       1
8      328612  T-2034887     Congestion  ...  41.319073 -74.063690       0
9       45734  W-1927751           Rain  ...   0.000000   0.000000       0

[10 rows x 15 columns]

In [ ]:
df_new = df.sort_values(by = 'events')

In [ ]:
df_new.iloc[9550:]

      Unnamed: 0    EventId           Type  ...       tLat       tLng  events
5525      293291  T-1902083     Congestion  ...  40.746101 -73.976738      18
2165      288302  T-1892264  Flow-Incident  ...  40.754955 -73.997162      18
6660      294862  T-1905013     Congestion  ...  40.763710 -73.962082      18
8322      297197  T-1909347     Congestion  ...  40.741650 -74.006996      18
8317      297189  T-1909319     Congestion  ...  40.724182 -74.004570      18
...          ...        ...            ...  ...        ...        ...     ...
1866      287875  T-1891637     Congestion  ...  40.745426 -73.977364      35
1844      287911  T-1891690     Congestion  ...  40.759853 -73.964882      36
1843      287897  T-1891669     Congestion  ...  40.760605 -73.964340      37
1842      287987  T-1891795     Congestion  ...  40.761219 -73.963890      38
1835      287831  T-1891545     Congestion  ...  40.756332 -73.960442      38

[450 rows x 15 columns]

In [ ]:
df.sample(n = 5)

      Unnamed: 0    EventId           Type  ...       tLat       tLng  events
6601      294772  T-1904864     Congestion  ...  40.832382 -73.949661       7
1405      287238  T-1890350     Congestion  ...  40.796566 -73.477943       3
6398      113533  W-4913945           Rain  ...   0.000000   0.000000       0
7796      296525  T-1908011  Flow-Incident  ...  40.799377 -73.486877       6
4295      291424  T-1898442     Congestion  ...  40.750153 -73.753189       2

[5 rows x 15 columns]

In [ ]:
df

      Unnamed: 0    EventId        Type  ...       tLat       tLng  events
0         328602  T-2034841  Congestion  ...  41.332432 -74.169113       0
1         110477  W-4332301        Rain  ...   0.000000   0.000000       0
2         328608  T-2034866    Accident  ...  40.856388 -73.872375       0
3          79089  W-3126403        Rain  ...   0.000000   0.000000       0
4         110478  W-4332302        Rain  ...   0.000000   0.000000       0
...          ...        ...         ...  ...        ...        ...     ...
9995      299376  T-1913703  Congestion  ...  40.794369 -73.824745       1
9996      299717  T-1914358  Congestion  ...  40.803871 -73.830849       0
9997       84948  W-3270295         Fog  ...   0.000000   0.000000       0
9998      299359  T-1913679  Congestion  ...  40.828964 -73.948463       0
9999      299357  T-1913670    Accident  ...  41.390369 -73.597969       0

[10000 rows x 15 columns]

In [ ]:
l = len(df)
df['lat'] = 0
df['lng'] = 0
df
for i in range(l) :
  row = df.iloc[i]
  if row['EventId'][0] == 'W' :
    df.iloc[i,df.columns.get_loc('lat')] = row['wLat']
    df.iloc[i,df.columns.get_loc('lng')] = row['wLng']
  elif row['EventId'][0] == 'T' :
    df.iloc[i,df.columns.get_loc('lat')] = row['tLat']
    df.iloc[i,df.columns.get_loc('lng')] = row['tLng']
df

      Unnamed: 0    EventId        Type  ... events        lat        lng
0         328602  T-2034841  Congestion  ...      0  41.332432 -74.169113
1         110477  W-4332301        Rain  ...      0  41.509200 -74.265000
2         328608  T-2034866    Accident  ...      0  40.856388 -73.872375
3          79089  W-3126403        Rain  ...      0  40.734400 -73.416400
4         110478  W-4332302        Rain  ...      0  41.509200 -74.265000
...          ...        ...         ...  ...    ...        ...        ...
9995      299376  T-1913703  Congestion  ...      1  40.794369 -73.824745
9996      299717  T-1914358  Congestion  ...      0  40.803871 -73.830849
9997       84948  W-3270295         Fog  ...      0  42.241300 -78.371400
9998      299359  T-1913679  Congestion  ...      0  40.828964 -73.948463
9999      299357  T-1913670    Accident  ...      0  41.390369 -73.597969

[10000 rows x 17 columns]

In [ ]:
del df['wLat']
del df['wLng']
del df['tLat']
del df['tLng']
df

      Unnamed: 0    EventId        Type  ... events        lat        lng
0         328602  T-2034841  Congestion  ...      0  41.332432 -74.169113
1         110477  W-4332301        Rain  ...      0  41.509200 -74.265000
2         328608  T-2034866    Accident  ...      0  40.856388 -73.872375
3          79089  W-3126403        Rain  ...      0  40.734400 -73.416400
4         110478  W-4332302        Rain  ...      0  41.509200 -74.265000
...          ...        ...         ...  ...    ...        ...        ...
9995      299376  T-1913703  Congestion  ...      1  40.794369 -73.824745
9996      299717  T-1914358  Congestion  ...      0  40.803871 -73.830849
9997       84948  W-3270295         Fog  ...      0  42.241300 -78.371400
9998      299359  T-1913679  Congestion  ...      0  40.828964 -73.948463
9999      299357  T-1913670    Accident  ...      0  41.390369 -73.597969

[10000 rows x 13 columns]

In [ ]:
df.to_csv('cleanData.csv')

In [ ]:
from google.colab import files
files.download("cleanData.csv")

In [ ]:
weather = 'https://drive.google.com/file/d/1IR8MyF--3DNWUe7CsfOAEJam975iQdS1/view?usp=sharing'
# getting the id part of the file
id = weather.split("/")[-2] 
downloaded = drive.CreateFile({'id':id})  
downloaded.GetContentFile('cleanData.csv')   
  
df = pd.read_csv('cleanData.csv') 
df.head(10)

   Unnamed: 0  Unnamed: 0.1    EventId  ... events        lat        lng
0           0        328602  T-2034841  ...      0  41.332432 -74.169113
1           1        110477  W-4332301  ...      0  41.509200 -74.265000
2           2        328608  T-2034866  ...      0  40.856388 -73.872375
3           3         79089  W-3126403  ...      0  40.734400 -73.416400
4           4        110478  W-4332302  ...      0  41.509200 -74.265000
5           5         41149  W-1297850  ...      0  41.504500 -74.099900
6           6        328615  T-2034890  ...      0  40.984344 -73.741318
7           7        328611  T-2034879  ...      1  40.743244 -73.837616
8           8        328612  T-2034887  ...      0  41.319073 -74.063690
9           9         45734  W-1927751  ...      0  41.625700 -73.881600

[10 rows x 14 columns]

In [ ]:
df_new = df.iloc[800:810]
df_new

       EventId        Type               tstart  ... events        lat        lng
800  T-1888734  Congestion  2016-08-02 10:07:00  ...      3  40.758274 -73.957504
801  T-1888735  Congestion  2016-08-02 10:10:00  ...      2  40.810856 -73.946831
802  W-2436024        Rain  2016-08-02 10:11:00  ...      0  43.338400 -73.610200
803  T-1888748  Congestion  2016-08-02 10:12:00  ...      3  40.705933 -73.817963
804  T-1888751  Congestion  2016-08-02 10:13:00  ...      0  40.895439 -72.463974
805  T-1888739    Accident  2016-08-02 10:14:28  ...      0  40.787086 -72.964417
806   W-289294         Fog  2016-08-02 10:15:00  ...      0  42.107800 -77.984200
807  T-1888755  Congestion  2016-08-02 10:16:00  ...      2  40.711899 -73.822975
808  T-1888745  Congestion  2016-08-02 10:17:00  ...      4  40.674343 -74.000168
809  T-1888777  Congestion  2016-08-02 10:17:00  ...      2  40.910793 -72.352219

[10 rows x 12 columns]

In [ ]:
df_new = df_new[['EventId','Type','tstart','tend','lat','lng','AirportCode','ZipCode','City','County','State','events']]
df_new

       EventId        Type               tstart  ...    County  State  events
800  T-1888734  Congestion  2016-08-02 10:07:00  ...  New York     NY       3
801  T-1888735  Congestion  2016-08-02 10:10:00  ...  New York     NY       2
802  W-2436024        Rain  2016-08-02 10:11:00  ...    Warren     NY       0
803  T-1888748  Congestion  2016-08-02 10:12:00  ...    Queens     NY       3
804  T-1888751  Congestion  2016-08-02 10:13:00  ...   Suffolk     NY       0
805  T-1888739    Accident  2016-08-02 10:14:28  ...   Suffolk     NY       0
806   W-289294         Fog  2016-08-02 10:15:00  ...  Allegany     NY       0
807  T-1888755  Congestion  2016-08-02 10:16:00  ...    Queens     NY       2
808  T-1888745  Congestion  2016-08-02 10:17:00  ...     Kings     NY       4
809  T-1888777  Congestion  2016-08-02 10:17:00  ...   Suffolk     NY       2

[10 rows x 12 columns]

In [ ]:
df_new = df_new.rename(columns = {'events':'no. of affected events'})
df_new

       EventId        Type  ... State no. of affected events
800  T-1888734  Congestion  ...    NY                      3
801  T-1888735  Congestion  ...    NY                      2
802  W-2436024        Rain  ...    NY                      0
803  T-1888748  Congestion  ...    NY                      3
804  T-1888751  Congestion  ...    NY                      0
805  T-1888739    Accident  ...    NY                      0
806   W-289294         Fog  ...    NY                      0
807  T-1888755  Congestion  ...    NY                      2
808  T-1888745  Congestion  ...    NY                      4
809  T-1888777  Congestion  ...    NY                      2

[10 rows x 12 columns]