In [ ]:
import pandas as pd
import datetime as dt
import requests
from io import StringIO
import numpy as np

In [ ]:
!pip install -U -q PyDrive 
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials  
auth.authenticate_user() 
gauth = GoogleAuth() 
gauth.credentials = GoogleCredentials.get_application_default() 
drive = GoogleDrive(gauth)

In [ ]:
weather = 'https://drive.google.com/file/d/1uOPPBSuCRclyWwyRobZJB4OIbQqJ9cUp/view?usp=sharing'
# getting the id part of the file
idw = weather.split("/")[-2] 
downloaded = drive.CreateFile({'id':idw})  
downloaded.GetContentFile('weather.csv')   
  
dfw = pd.read_csv('weather.csv') 
dfw.head()

   Unnamed: 0  EventId  Type  Severity  ...       City      County State  ZipCode
0       73708  W-81911  Rain     Light  ...  Jamestown  Chautauqua    NY  14701.0
1       73709  W-81912  Rain  Moderate  ...  Jamestown  Chautauqua    NY  14701.0
2       73710  W-81913  Rain  Moderate  ...  Jamestown  Chautauqua    NY  14701.0
3       73711  W-81914  Rain     Light  ...  Jamestown  Chautauqua    NY  14701.0
4       73712  W-81915  Rain     Light  ...  Jamestown  Chautauqua    NY  14701.0

[5 rows x 14 columns]

In [ ]:
traffic = 'https://drive.google.com/file/d/1Uwdd8gsd1AcCzUVZedW1rMUC64w8Y3Vd/view?usp=sharing'
# getting the id part of the file
idt = traffic.split("/")[-2] 
downloaded = drive.CreateFile({'id':idt})  
downloaded.GetContentFile('traffic.csv')   
  
dft = pd.read_csv('traffic.csv') 
dft.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,4,9,10,11,13,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Unnamed: 0    EventId          Type  ...    County State ZipCode
0     157097  T-1577391  Construction  ...  Sullivan    NY   12719
1     157098  T-1577393  Construction  ...  Sullivan    NY   12776
2     157105  T-1577405  Construction  ...    Orange    NY   10958
3     157107  T-1577407  Construction  ...    Ulster    NY   12458
4     157109  T-1577409  Construction  ...    Ulster    NY   12464

[5 rows x 20 columns]

In [ ]:
dfw['tstart'] = pd.to_datetime(dfw["StartTime(UTC)"])
dfw['tend'] = pd.to_datetime(dfw["EndTime(UTC)"])
dfw.head()

   Unnamed: 0  EventId  Type  ...  ZipCode              tstart                tend
0       73708  W-81911  Rain  ...  14701.0 2016-08-05 21:55:00 2016-08-05 22:15:00
1       73709  W-81912  Rain  ...  14701.0 2016-08-05 22:15:00 2016-08-05 22:35:00
2       73710  W-81913  Rain  ...  14701.0 2016-08-10 05:55:00 2016-08-10 06:15:00
3       73711  W-81914  Rain  ...  14701.0 2016-08-10 06:55:00 2016-08-10 07:15:00
4       73712  W-81915  Rain  ...  14701.0 2016-08-10 07:35:00 2016-08-10 08:15:00

[5 rows x 16 columns]

In [ ]:
dft['tstart'] = pd.to_datetime(dft["StartTime(UTC)"],errors='coerce')
dft['tend'] = pd.to_datetime(dft["EndTime(UTC)"],errors='coerce')
#dft["tstart"] = dft["StartTime(UTC)"].astype('datetime64[ns]')
#dft["tend"] = dft["EndTime(UTC)"].astype('datetime64[ns]')
#dft.head()
#temp = dfw["StartTime(UTC)"][0]
#type(dfw["StartTime(UTC)"][0])
#print(temp)
#date_time_temp = dt.datetime.strptime(temp, '%Y-%m-%d %H:%M:%S')
#dft['tstart'] = dt.datetime.strptime(dft["StartTime(UTC)"],'%Y-%m-%d %H:%M:%S')
#dft['tend'] = dt.datetime.strptime(dft["EndTime(UTC)"],'%Y-%m-%d %H:%M:%S')
#print(date_time_temp)
#dfw.info()
#dfw.head(100)
print(dft[dft.tstart.isnull()])
print(dft[dft.tend.isnull()])
dft.head()

        Unnamed: 0  EventId  Type  Severity  ...  State  ZipCode tstart tend
203373         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
275441         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
391738         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
452651         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
522298         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
621415         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
706363         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
792259         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
869911         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
948772         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1013111        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1058676        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1103619        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1150999        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1222409        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1289703        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1354062        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1417124        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1486834        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1552303        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1613955        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1677007        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1737261        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1765816        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1766028        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808106        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808108                NaN   NaN       NaN  ...    NaN      NaN    NaT  NaT

[27 rows x 22 columns]
        Unnamed: 0  EventId  Type  Severity  ...  State  ZipCode tstart tend
203373         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
275441         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
391738         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
452651         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
522298         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
621415         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
706363         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
792259         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
869911         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
948772         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1013111        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1058676        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1103619        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1150999        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1222409        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1289703        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1354062        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1417124        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1486834        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1552303        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1613955        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1677007        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1737261        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1765816        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1766028        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808106        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808108                NaN   NaN       NaN  ...    NaN      NaN    NaT  NaT

[27 rows x 22 columns]

  Unnamed: 0    EventId  ...              tstart                tend
0     157097  T-1577391  ... 2016-11-30 12:00:00 2016-11-30 22:30:00
1     157098  T-1577393  ... 2016-11-30 12:00:00 2016-11-30 22:30:00
2     157105  T-1577405  ... 2016-11-28 15:00:00 2016-12-28 20:00:00
3     157107  T-1577407  ... 2016-10-06 15:45:36 2016-12-02 04:59:00
4     157109  T-1577409  ... 2016-08-01 04:00:00 2016-12-02 04:59:00

[5 rows x 22 columns]

In [ ]:
dfw_new = dfw[['EventId','Type','tstart','tend','LocationLat','LocationLng','AirportCode','ZipCode','City','County','State']]
dfw_new.head()

   EventId  Type              tstart  ...       City      County  State
0  W-81911  Rain 2016-08-05 21:55:00  ...  Jamestown  Chautauqua     NY
1  W-81912  Rain 2016-08-05 22:15:00  ...  Jamestown  Chautauqua     NY
2  W-81913  Rain 2016-08-10 05:55:00  ...  Jamestown  Chautauqua     NY
3  W-81914  Rain 2016-08-10 06:55:00  ...  Jamestown  Chautauqua     NY
4  W-81915  Rain 2016-08-10 07:35:00  ...  Jamestown  Chautauqua     NY

[5 rows x 11 columns]

In [ ]:
dfw_new.rename(columns={'LocationLat':'wLat','LocationLng':'wLng'},inplace=True)
dfw_new.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   EventId  Type              tstart  ...       City      County  State
0  W-81911  Rain 2016-08-05 21:55:00  ...  Jamestown  Chautauqua     NY
1  W-81912  Rain 2016-08-05 22:15:00  ...  Jamestown  Chautauqua     NY
2  W-81913  Rain 2016-08-10 05:55:00  ...  Jamestown  Chautauqua     NY
3  W-81914  Rain 2016-08-10 06:55:00  ...  Jamestown  Chautauqua     NY
4  W-81915  Rain 2016-08-10 07:35:00  ...  Jamestown  Chautauqua     NY

[5 rows x 11 columns]

In [ ]:
dft_new = dft[['EventId','Type','tstart','tend','LocationLat','LocationLng','AirportCode','ZipCode','City','County','State']]
dft_new.head()

     EventId          Type              tstart  ...         City    County State
0  T-1577391  Construction 2016-11-30 12:00:00  ...   Barryville  Sullivan    NY
1  T-1577393  Construction 2016-11-30 12:00:00  ...       Roscoe  Sullivan    NY
2  T-1577405  Construction 2016-11-28 15:00:00  ...  New Hampton    Orange    NY
3  T-1577407  Construction 2016-10-06 15:45:36  ...     Napanoch    Ulster    NY
4  T-1577409  Construction 2016-08-01 04:00:00  ...    Phoenicia    Ulster    NY

[5 rows x 11 columns]

In [ ]:
dft_new.rename(columns={'LocationLat':'tLat','LocationLng':'tLng'},inplace=True)
dft_new.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

     EventId          Type              tstart  ...         City    County State
0  T-1577391  Construction 2016-11-30 12:00:00  ...   Barryville  Sullivan    NY
1  T-1577393  Construction 2016-11-30 12:00:00  ...       Roscoe  Sullivan    NY
2  T-1577405  Construction 2016-11-28 15:00:00  ...  New Hampton    Orange    NY
3  T-1577407  Construction 2016-10-06 15:45:36  ...     Napanoch    Ulster    NY
4  T-1577409  Construction 2016-08-01 04:00:00  ...    Phoenicia    Ulster    NY

[5 rows x 11 columns]

In [ ]:
df_new = pd.concat([dfw_new,dft_new],ignore_index=True)
df_new.head(1000000)

           EventId           Type  ...       tLat                tLng
0          W-81911           Rain  ...        NaN                 NaN
1          W-81912           Rain  ...        NaN                 NaN
2          W-81913           Rain  ...        NaN                 NaN
3          W-81914           Rain  ...        NaN                 NaN
4          W-81915           Rain  ...        NaN                 NaN
...            ...            ...  ...        ...                 ...
999995  T-10645115     Congestion  ...  40.785969          -73.957176
999996  T-10645116     Congestion  ...  40.806801          -73.907104
999997  T-10645119     Congestion  ...  40.881668          -73.816856
999998  T-10645120  Flow-Incident  ...  41.311005  -73.96597299999999
999999  T-10645121     Congestion  ...  41.527401          -73.915672

[1000000 rows x 13 columns]

In [ ]:
df_new['wLat'] = df_new['wLat'].fillna(0)
df_new['wLng'] = df_new['wLng'].fillna(0)
df_new['tLat'] = df_new['tLat'].fillna(0)
df_new['tLng'] = df_new['tLng'].fillna(0)
df_new.head(1000000)

           EventId           Type  ...       tLat                tLng
0          W-81911           Rain  ...          0                   0
1          W-81912           Rain  ...          0                   0
2          W-81913           Rain  ...          0                   0
3          W-81914           Rain  ...          0                   0
4          W-81915           Rain  ...          0                   0
...            ...            ...  ...        ...                 ...
999995  T-10645115     Congestion  ...  40.785969          -73.957176
999996  T-10645116     Congestion  ...  40.806801          -73.907104
999997  T-10645119     Congestion  ...  40.881668          -73.816856
999998  T-10645120  Flow-Incident  ...  41.311005  -73.96597299999999
999999  T-10645121     Congestion  ...  41.527401          -73.915672

[1000000 rows x 13 columns]

In [ ]:
df_new = df_new.sort_values(by = 'tstart')

In [ ]:
df_new.dropna(inplace = True)

In [ ]:
import geopy.distance
def calcDist(lat1,lon1,lat2,lon2) :

  coords_1 = (lat1, lon1)
  coords_2 = (lat2, lon2)

  return geopy.distance.distance(coords_1, coords_2).km

In [ ]:
sec_in_day = 24*60*60
def diffTime(first_time,second_time) :
  diff = second_time - first_time
  dt.timedelta(0, 8, 562000)
  
  return list(divmod(diff.days * sec_in_day + diff.seconds, 60))

In [ ]:
df_new['events'] = 0
df_new.head()

          EventId        Type  ...                tLng events
328602  T-2034841  Congestion  ...          -74.169113      0
328603  T-2034843  Congestion  ...  -73.86167900000001      0
110477  W-4332301        Rain  ...                   0      0
328604  T-2034845  Congestion  ...          -73.738899      0
328606  T-2034864  Congestion  ...          -73.989799      0

[5 rows x 14 columns]

In [ ]:
th_dur = 15 ## In min
# for ind,row in df_new.iterrows() :
#   start_time,end_time = row['tstart'],row['tend']
#   diff_time = diffTime(start_time,end_time)
#   if diff_time[0] < th_dur :
#     df_new.drop(ind, inplace=True)
#   #print(diff_time)
# df_new.head()
df_new['dur'] = (df_new.tend-df_new.tstart) / pd.Timedelta(minutes=1) > th_dur
d = df_new['dur']
df_new = df_new[d]
df_new = df_new.drop(['dur'],axis = 1)
df_new

          EventId        Type  ...        tLng events
328602  T-2034841  Congestion  ...  -74.169113      0
110477  W-4332301        Rain  ...           0      0
328608  T-2034866    Accident  ...  -73.872375      0
79089   W-3126403        Rain  ...           0      0
110478  W-4332302        Rain  ...           0      0
...           ...         ...  ...         ...    ...
562282  T-5341612  Congestion  ...  -73.959862      0
116609  W-4917021        Rain  ...           0      0
98368   W-3644905        Rain  ...           0      0
35559   W-1240384        Rain  ...           0      0
45733   W-1846286        Rain  ...           0      0

[1804915 rows x 14 columns]

In [ ]:
new_df = df_new[:10000]
new_df

          EventId        Type  ...        tLng events
328602  T-2034841  Congestion  ...  -74.169113      0
110477  W-4332301        Rain  ...           0      0
328608  T-2034866    Accident  ...  -73.872375      0
79089   W-3126403        Rain  ...           0      0
110478  W-4332302        Rain  ...           0      0
...           ...         ...  ...         ...    ...
299376  T-1913703  Congestion  ...    -73.8247      0
299717  T-1914358  Congestion  ...    -73.8308      0
84948   W-3270295         Fog  ...           0      0
299359  T-1913679  Congestion  ...    -73.9485      0
299357  T-1913670    Accident  ...     -73.598      0

[10000 rows x 14 columns]

In [ ]:
new_df

          EventId        Type  ...        tLng events
328602  T-2034841  Congestion  ...  -74.169113      0
110477  W-4332301        Rain  ...           0      0
328608  T-2034866    Accident  ...  -73.872375      0
79089   W-3126403        Rain  ...           0      0
110478  W-4332302        Rain  ...           0      0
...           ...         ...  ...         ...    ...
299376  T-1913703  Congestion  ...    -73.8247      0
299717  T-1914358  Congestion  ...    -73.8308      0
84948   W-3270295         Fog  ...           0      0
299359  T-1913679  Congestion  ...    -73.9485      0
299357  T-1913670    Accident  ...     -73.598      0

[10000 rows x 14 columns]

In [ ]:
#new_df['tree'] = []
new_df['tree'] = np.empty((len(new_df), 0)).tolist()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# new_df['tree'] = {new_df['EventId']:[]}

In [ ]:
new_df

          EventId        Type              tstart  ...        tLng  events  tree
328602  T-2034841  Congestion 2016-08-01 00:00:00  ...  -74.169113       0    []
110477  W-4332301        Rain 2016-08-01 00:03:00  ...           0       0    []
328608  T-2034866    Accident 2016-08-01 00:19:32  ...  -73.872375       0    []
79089   W-3126403        Rain 2016-08-01 00:20:00  ...           0       0    []
110478  W-4332302        Rain 2016-08-01 00:30:00  ...           0       0    []
...           ...         ...                 ...  ...         ...     ...   ...
299376  T-1913703  Congestion 2016-08-15 10:51:00  ...    -73.8247       0    []
299717  T-1914358  Congestion 2016-08-15 10:51:00  ...    -73.8308       0    []
84948   W-3270295         Fog 2016-08-15 10:55:00  ...           0       0    []
299359  T-1913679  Congestion 2016-08-15 10:57:00  ...    -73.9485       0    []
299357  T-1913670    Accident 2016-08-15 10:57:47  ...     -73.598       0    []

[10000 rows x 15 columns]

In [ ]:
print(len(new_df))
l = len(new_df)
th_time = 30  ## in min
th_dist = 1  ## in km
# for ind,rows in new_df.iterrows() :
for i in range(l) :
  # print(temp)
  # if temp[0] == 'T' :
  #   print("Traffic data")
  # elif temp[0] == 'W' :
  #   print("Weather Data")
  rows = new_df.iloc[i]
  if rows['EventId'][0] == 'W' :
    #print("Y")
    w_start_time,w_end_time = rows['tstart'],rows['tend']
    w_lat,w_lng = rows['wLat'],rows['wLng']
    j = i + 1
    #print(i)
    roll = 0
    #e = rows['EventId']
    #dict_list = []
    while j < l :
      #print("Y")
      curr = new_df.iloc[j]
      if curr['EventId'][0] == 'T' :
        #print('T')
        curr_start_time,curr_end_time = curr['tstart'],curr['tend']
        curr_lat,curr_lng = curr['tLat'],curr['tLng']
        diff_t = diffTime(w_start_time,curr_start_time)
        if diff_t[0] > th_time :
          #print("Th")
          break
        else :
          diff_d = calcDist(w_lat,w_lng,curr_lat,curr_lng)
          if diff_d < th_dist :
            #print('dist')
            #print(rows['events'])
            # new_df.iloc[i]['events'] += 1
            roll += 1
            rows['tree'].append(curr['EventId'])
            #dict_list.append(curr['EventId'])
            #print(rows['events'])
      j += 1
      # new_df.iloc[i]['events'] = roll
    #print(i,roll)
    new_df.iloc[i,new_df.columns.get_loc('events')] = roll
    # new_df.iloc[i,new_df.columns.get_loc('tree')] = 5
    #new_df.iloc[i]['tree'] = i
    #print(new_df.iloc[i]['tree'])
  elif rows['EventId'][0] == 'T' :
    t_start_time,t_end_time = rows['tstart'],rows['tend']
    t_lat,t_lng = rows['tLat'],rows['tLng']
    j = i + 1
    #print(i)
    roll = 0
    while j < l :
      #print("Y")
      curr = new_df.iloc[j]
      if curr['EventId'][0] == 'T' :
        #print('T')
        curr_start_time,curr_end_time = curr['tstart'],curr['tend']
        curr_lat,curr_lng = curr['tLat'],curr['tLng']
        diff_t = diffTime(t_start_time,curr_start_time)
        if diff_t[0] > th_time :
          #print("Th")
          break
        else :
          diff_d = calcDist(t_lat,t_lng,curr_lat,curr_lng)
          if diff_d < th_dist :
            #print('dist')
            #print(rows['events'])
            # new_df.iloc[i]['events'] += 1
            roll += 1
            #dict_list.append(curr['EventId'])
            rows['tree'].append(curr['EventId'])
            #print(rows['events'])
      j += 1
      # new_df.iloc[i]['events'] = roll
    #print(i,roll)
    new_df.iloc[i,new_df.columns.get_loc('events')] = roll
    #new_df.iloc[i,new_df.columns.get_loc('tree')] = dict_list
    #new_df.iloc[i]['tree'] = i
    #print(new_df.iloc[i]['tree'])


  #print(temp)d

10000

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
new_df

          EventId        Type              tstart  ...        tLng  events  tree
328602  T-2034841  Congestion 2016-08-01 00:00:00  ...  -74.169113       0    []
110477  W-4332301        Rain 2016-08-01 00:03:00  ...           0       0    []
328608  T-2034866    Accident 2016-08-01 00:19:32  ...  -73.872375       0    []
79089   W-3126403        Rain 2016-08-01 00:20:00  ...           0       0    []
110478  W-4332302        Rain 2016-08-01 00:30:00  ...           0       0    []
...           ...         ...                 ...  ...         ...     ...   ...
299376  T-1913703  Congestion 2016-08-15 10:51:00  ...    -73.8247       0    []
299717  T-1914358  Congestion 2016-08-15 10:51:00  ...    -73.8308       0    []
84948   W-3270295         Fog 2016-08-15 10:55:00  ...           0       0    []
299359  T-1913679  Congestion 2016-08-15 10:57:00  ...    -73.9485       0    []
299357  T-1913670    Accident 2016-08-15 10:57:47  ...     -73.598       0    []

[10000 rows x 15 columns]

In [ ]:
temp_df = new_df[:]

In [ ]:
temp_df

          EventId        Type              tstart  ...        tLng  events  tree
328602  T-2034841  Congestion 2016-08-01 00:00:00  ...  -74.169113       0    []
110477  W-4332301        Rain 2016-08-01 00:03:00  ...           0       0    []
328608  T-2034866    Accident 2016-08-01 00:19:32  ...  -73.872375       0    []
79089   W-3126403        Rain 2016-08-01 00:20:00  ...           0       0    []
110478  W-4332302        Rain 2016-08-01 00:30:00  ...           0       0    []
...           ...         ...                 ...  ...         ...     ...   ...
299376  T-1913703  Congestion 2016-08-15 10:51:00  ...    -73.8247       0    []
299717  T-1914358  Congestion 2016-08-15 10:51:00  ...    -73.8308       0    []
84948   W-3270295         Fog 2016-08-15 10:55:00  ...           0       0    []
299359  T-1913679  Congestion 2016-08-15 10:57:00  ...    -73.9485       0    []
299357  T-1913670    Accident 2016-08-15 10:57:47  ...     -73.598       0    []

[10000 rows x 15 columns]

In [ ]:
temp_df = temp_df.sort_values(by = 'events',ascending=False)

In [ ]:
temp_df

          EventId  ...                                               tree
289756  T-1895137  ...  [T-1895455, T-1895657, T-1895435, T-1895313, T...
290039  T-1895657  ...  [T-1895435, T-1895313, T-1895589, T-1895613, T...
289108  T-1893863  ...  [T-1893677, T-1893759, T-1894132, T-1894005, T...
289934  T-1895435  ...  [T-1895313, T-1895589, T-1895613, T-1895055, T...
289942  T-1895455  ...  [T-1895657, T-1895435, T-1895313, T-1895589, T...
...           ...  ...                                                ...
290838  T-1897331  ...                                                 []
290833  T-1897323  ...                                                 []
290827  T-1897316  ...                                                 []
290836  T-1897326  ...                                                 []
299357  T-1913670  ...                                                 []

[10000 rows x 15 columns]

In [ ]:
l = temp_df.iloc[0]['tree']
l

['T-1895455',
 'T-1895657',
 'T-1895435',
 'T-1895313',
 'T-1895589',
 'T-1895613',
 'T-1895055',
 'T-1895483',
 'T-1895361',
 'T-1895389',
 'T-1895722',
 'T-1896712',
 'T-1895868',
 'T-1895823',
 'T-1896000',
 'T-1896214']

In [ ]:
temp_df = temp_df[:6050]

In [ ]:
new_temp = temp_df[temp_df['Type'] == 'Flow-Incident']
new_temp = new_temp[new_temp['events'] <= 4]
new_temp

          EventId  ...                                          tree
294060  T-1903542  ...  [T-1902890, T-1903829, T-1903596, T-1902799]
287350  T-1890600  ...  [T-1890202, T-1890331, T-1890273, T-1890274]
289528  T-1894812  ...  [T-1895478, T-1896104, T-1894724, T-1894835]
288863  T-1893344  ...  [T-1893862, T-1893573, T-1894003, T-1892917]
289885  T-1895361  ...  [T-1895389, T-1895722, T-1895823, T-1896214]
...           ...  ...                                           ...
287483  T-1890815  ...                                            []
287331  T-1890551  ...                                            []
287429  T-1890735  ...                                            []
287342  T-1890564  ...                                            []
287389  T-1890659  ...                                            []

[459 rows x 15 columns]

In [ ]:
target = temp_df.sample(n = 10)

In [ ]:
target

          EventId        Type  ... events                               tree
296787  T-1908577  Congestion  ...      0                                 []
298578  T-1912246  Congestion  ...      1                        [T-1912227]
78465   W-3096338        Rain  ...      0                                 []
294117  T-1903689  Congestion  ...      2             [T-1903688, T-1903767]
289525  T-1894808  Congestion  ...      3  [T-1894877, T-1894919, T-1895002]
296018  T-1907134  Congestion  ...      0                                 []
74670   W-3003895         Fog  ...      0                                 []
293591  T-1902588  Congestion  ...      0                                 []
296815  T-1908661    Accident  ...      2             [T-1908667, T-1908668]
298967  T-1912945  Congestion  ...      0                                 []

[10 rows x 15 columns]

In [ ]:
!pip install anytree

Collecting anytree
  Downloading https://files.pythonhosted.org/packages/a8/65/be23d8c3ecd68d40541d49812cd94ed0f3ee37eb88669ca15df0e43daed1/anytree-2.8.0-py2.py3-none-any.whl (41kB)
     |████████████████████████████████| 51kB 2.4MB/s
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from anytree) (1.15.0)
Installing collected packages: anytree
Successfully installed anytree-2.8.0

In [ ]:
from anytree import Node, RenderTree

udo = Node("Udo")
marc = Node("Marc", parent=udo)
lian = Node("Lian", parent=marc)
dan = Node("Dan", parent=udo)
jet = Node("Jet", parent=dan)
jan = Node("Jan", parent=dan)
joe = Node("Joe", parent=dan)

# print(udo)
# Node('/Udo')
# print(joe)
# Node('/Udo/Dan/Joe')

for pre, fill, node in RenderTree(udo):
    print("%s%s" % (pre, node.name))

Udo
├── Marc
│   └── Lian
└── Dan
    ├── Jet
    ├── Jan
    └── Joe

In [ ]:
new_df[new_df['EventId'] == 'T-1904654']

          EventId          Type  ... events                               tree
294645  T-1904654  Construction  ...      3  [T-1904648, T-1904653, T-1904651]

[1 rows x 15 columns]

In [ ]:
# p = 'T-1902445'
# s = list(temp_df[temp_df['EventId'] == 'T-1902575']['Type'])
# s

[]

In [ ]:
p = 'T-1904654'
s = list(temp_df[temp_df['EventId'] == 'T-1902575']['Type'])
s

[]

In [ ]:
root = Node(list(new_df[new_df['EventId'] == 'T-1894677']['Type'])[0])
l = list(new_df[new_df['EventId'] == 'T-1894677']['tree'])[0]
for ele in l :
  temp = Node(list(new_df[new_df['EventId'] == ele]['Type'])[0],parent = root)
  if len(list(new_df[new_df['EventId'] == ele]['tree'])) > 0 :
    temp_row = list(new_df[new_df['EventId'] == ele]['tree'])[0]
    if len(temp_row) > 0 :
      for j in temp_row :
        temp2 = Node(list(new_df[new_df['EventId'] == j]['Type'])[0],parent = temp)
        if len(list(new_df[new_df['EventId'] == j]['tree'])) > 0 :
          temp_row2 = list(new_df[new_df['EventId'] == ele]['tree'])[0]
          if len(temp_row2) > 0 :
            for k in temp_row2 :
              temp3 = Node(list(new_df[new_df['EventId'] == k]['Type'])[0],parent = temp2)
for pre, fill, node in RenderTree(root):
    print("%s%s" % (pre, node.name))
#DotExporter(root).to_picture("root.png")

Flow-Incident
└── Congestion

In [ ]:
from anytree import Node, RenderTree
from anytree.exporter import DotExporter
ceo = Node("CEO") #root
vp_1 = Node("VP_1", parent=ceo)
vp_2 = Node("VP_2", parent=ceo)
gm_1 = Node("GM_1", parent=vp_1)
gm_2 = Node("GM_2", parent=vp_2)
m_1 = Node("M_1", parent=gm_2)
DotExporter(ceo).to_picture("ceo.png")

In [ ]:
l = list(temp_df[temp_df['EventId'] == 'T-1902575']['tree'])
l

[]

In [ ]:
l

['T-1902502', 'T-1902575', 'T-1902466']