In [ ]:
import pandas as pd
import datetime as dt
import requests
from io import StringIO

In [ ]:
!pip install -U -q PyDrive 
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials  
auth.authenticate_user() 
gauth = GoogleAuth() 
gauth.credentials = GoogleCredentials.get_application_default() 
drive = GoogleDrive(gauth)

In [ ]:
weather = 'https://drive.google.com/file/d/1uOPPBSuCRclyWwyRobZJB4OIbQqJ9cUp/view?usp=sharing'
# getting the id part of the file
idw = weather.split("/")[-2] 
downloaded = drive.CreateFile({'id':idw})  
downloaded.GetContentFile('weather.csv')   
  
dfw = pd.read_csv('weather.csv') 
dfw.head()

   Unnamed: 0  EventId  Type  Severity  ...       City      County State  ZipCode
0       73708  W-81911  Rain     Light  ...  Jamestown  Chautauqua    NY  14701.0
1       73709  W-81912  Rain  Moderate  ...  Jamestown  Chautauqua    NY  14701.0
2       73710  W-81913  Rain  Moderate  ...  Jamestown  Chautauqua    NY  14701.0
3       73711  W-81914  Rain     Light  ...  Jamestown  Chautauqua    NY  14701.0
4       73712  W-81915  Rain     Light  ...  Jamestown  Chautauqua    NY  14701.0

[5 rows x 14 columns]

In [ ]:
traffic = 'https://drive.google.com/file/d/1Uwdd8gsd1AcCzUVZedW1rMUC64w8Y3Vd/view?usp=sharing'
# getting the id part of the file
idt = traffic.split("/")[-2] 
downloaded = drive.CreateFile({'id':idt})  
downloaded.GetContentFile('traffic.csv')   
  
dft = pd.read_csv('traffic.csv') 
dft.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,4,9,10,11,13,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  Unnamed: 0    EventId          Type  ...    County State ZipCode
0     157097  T-1577391  Construction  ...  Sullivan    NY   12719
1     157098  T-1577393  Construction  ...  Sullivan    NY   12776
2     157105  T-1577405  Construction  ...    Orange    NY   10958
3     157107  T-1577407  Construction  ...    Ulster    NY   12458
4     157109  T-1577409  Construction  ...    Ulster    NY   12464

[5 rows x 20 columns]

In [ ]:
dfw['tstart'] = pd.to_datetime(dfw["StartTime(UTC)"])
dfw['tend'] = pd.to_datetime(dfw["EndTime(UTC)"])
dfw.head()

   Unnamed: 0  EventId  Type  ...  ZipCode              tstart                tend
0       73708  W-81911  Rain  ...  14701.0 2016-08-05 21:55:00 2016-08-05 22:15:00
1       73709  W-81912  Rain  ...  14701.0 2016-08-05 22:15:00 2016-08-05 22:35:00
2       73710  W-81913  Rain  ...  14701.0 2016-08-10 05:55:00 2016-08-10 06:15:00
3       73711  W-81914  Rain  ...  14701.0 2016-08-10 06:55:00 2016-08-10 07:15:00
4       73712  W-81915  Rain  ...  14701.0 2016-08-10 07:35:00 2016-08-10 08:15:00

[5 rows x 16 columns]

In [ ]:
dft['tstart'] = pd.to_datetime(dft["StartTime(UTC)"],errors='coerce')
dft['tend'] = pd.to_datetime(dft["EndTime(UTC)"],errors='coerce')
#dft["tstart"] = dft["StartTime(UTC)"].astype('datetime64[ns]')
#dft["tend"] = dft["EndTime(UTC)"].astype('datetime64[ns]')
#dft.head()
#temp = dfw["StartTime(UTC)"][0]
#type(dfw["StartTime(UTC)"][0])
#print(temp)
#date_time_temp = dt.datetime.strptime(temp, '%Y-%m-%d %H:%M:%S')
#dft['tstart'] = dt.datetime.strptime(dft["StartTime(UTC)"],'%Y-%m-%d %H:%M:%S')
#dft['tend'] = dt.datetime.strptime(dft["EndTime(UTC)"],'%Y-%m-%d %H:%M:%S')
#print(date_time_temp)
#dfw.info()
#dfw.head(100)
print(dft[dft.tstart.isnull()])
print(dft[dft.tend.isnull()])
dft.head()

        Unnamed: 0  EventId  Type  Severity  ...  State  ZipCode tstart tend
203373         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
275441         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
391738         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
452651         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
522298         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
621415         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
706363         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
792259         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
869911         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
948772         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1013111        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1058676        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1103619        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1150999        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1222409        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1289703        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1354062        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1417124        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1486834        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1552303        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1613955        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1677007        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1737261        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1765816        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1766028        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808106        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808108                NaN   NaN       NaN  ...    NaN      NaN    NaT  NaT

[27 rows x 22 columns]
        Unnamed: 0  EventId  Type  Severity  ...  State  ZipCode tstart tend
203373         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
275441         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
391738         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
452651         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
522298         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
621415         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
706363         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
792259         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
869911         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
948772         NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1013111        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1058676        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1103619        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1150999        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1222409        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1289703        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1354062        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1417124        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1486834        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1552303        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1613955        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1677007        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1737261        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1765816        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1766028        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808106        NaN  EventId  Type  Severity  ...  State  ZipCode    NaT  NaT
1808108                NaN   NaN       NaN  ...    NaN      NaN    NaT  NaT

[27 rows x 22 columns]

  Unnamed: 0    EventId  ...              tstart                tend
0     157097  T-1577391  ... 2016-11-30 12:00:00 2016-11-30 22:30:00
1     157098  T-1577393  ... 2016-11-30 12:00:00 2016-11-30 22:30:00
2     157105  T-1577405  ... 2016-11-28 15:00:00 2016-12-28 20:00:00
3     157107  T-1577407  ... 2016-10-06 15:45:36 2016-12-02 04:59:00
4     157109  T-1577409  ... 2016-08-01 04:00:00 2016-12-02 04:59:00

[5 rows x 22 columns]

In [ ]:
dfw_new = dfw[['EventId','Type','tstart','tend','AirportCode','ZipCode','City','County','State']]
dfw_new.head()

   EventId  Type              tstart  ...       City      County  State
0  W-81911  Rain 2016-08-05 21:55:00  ...  Jamestown  Chautauqua     NY
1  W-81912  Rain 2016-08-05 22:15:00  ...  Jamestown  Chautauqua     NY
2  W-81913  Rain 2016-08-10 05:55:00  ...  Jamestown  Chautauqua     NY
3  W-81914  Rain 2016-08-10 06:55:00  ...  Jamestown  Chautauqua     NY
4  W-81915  Rain 2016-08-10 07:35:00  ...  Jamestown  Chautauqua     NY

[5 rows x 9 columns]

In [ ]:
dft_new = dft[['EventId','Type','tstart','tend','AirportCode','ZipCode','City','County','State']]
dft_new.head()

     EventId          Type              tstart  ...         City    County State
0  T-1577391  Construction 2016-11-30 12:00:00  ...   Barryville  Sullivan    NY
1  T-1577393  Construction 2016-11-30 12:00:00  ...       Roscoe  Sullivan    NY
2  T-1577405  Construction 2016-11-28 15:00:00  ...  New Hampton    Orange    NY
3  T-1577407  Construction 2016-10-06 15:45:36  ...     Napanoch    Ulster    NY
4  T-1577409  Construction 2016-08-01 04:00:00  ...    Phoenicia    Ulster    NY

[5 rows x 9 columns]

In [ ]:
df_new = pd.concat([dfw_new,dft_new],ignore_index=True)
df_new.head(1000000)

           EventId           Type  ...       County State
0          W-81911           Rain  ...   Chautauqua    NY
1          W-81912           Rain  ...   Chautauqua    NY
2          W-81913           Rain  ...   Chautauqua    NY
3          W-81914           Rain  ...   Chautauqua    NY
4          W-81915           Rain  ...   Chautauqua    NY
...            ...            ...  ...          ...   ...
999995  T-10645115     Congestion  ...     New York    NY
999996  T-10645116     Congestion  ...        Bronx    NY
999997  T-10645119     Congestion  ...        Bronx    NY
999998  T-10645120  Flow-Incident  ...  Westchester    NY
999999  T-10645121     Congestion  ...     Dutchess    NY

[1000000 rows x 9 columns]

In [ ]:
df_new = df_new.sort_values(by = 'tend')

In [ ]:
df_new.dropna(inplace = True)

In [ ]:
df_new.head(100000)

          EventId           Type  ...       County State
328603  T-2034843     Congestion  ...        Bronx    NY
328602  T-2034841     Congestion  ...       Orange    NY
328604  T-2034845     Congestion  ...  Westchester    NY
328605  T-2034850     Congestion  ...     Rockland    NY
110477  W-4332301           Rain  ...       Orange    NY
...           ...            ...  ...          ...   ...
191822  T-1709019     Congestion  ...       Ulster    NY
191823  T-1709021     Congestion  ...     New York    NY
191834  T-1709033     Congestion  ...  Westchester    NY
191825  T-1709024  Flow-Incident  ...     Rockland    NY
191851  T-1709058     Congestion  ...  Westchester    NY

[100000 rows x 9 columns]